   <% if(content.labels && content.labels.length > 0) {%>
   <% content.labels.forEach((label) => { %>
        <div class="labelCont">
            <div><%= label.label %></div>
            <button>
                <a href="/cars/search/<%= label.code %>?method=remove">x</a>
            </button>
        </div>
        <% }) %>
    <% } %>
   <% content.rows.map((element)=> { %>
            <div class="item">
               <a href="/cars/profile/<%= element.id %>" class="linkFrame">
                  <div class="frame">
                      <img src=<%=`${element.img_url}` %> alt="image" class="image">
                  </div>
                  <div>
                       <div>
                           <p class="bold"><%= element.name %> </p>
                      </div>
                      <div>
                           <p><%= element.description%> </p>
                      </div>
                  </div>
               </a>
            </div>
    <% }); %>
