<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/header'); %>
</header>
<main>
    <div>
        <form action="">
            <select name="model_type" id="model_type">
                <option>RC Car</option>
                <option>RC Plane</option>
            </select>
            <input type="text" name="name" id="name" placeholder="name">
            <label for="manufacturer">Brand</label>
            <select name="manufacturer">
                <% data.brands.map(brand => { %>
                   <option><%= brand.name %></option>
               <% }) %>
            </select>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description or features of the car"></textarea>
            <label for="imgUrl">Image Url</label>
            <input type="text" placeholder="Url" name="imgUrl">
            <label for="scale">Scale</label>
            <select name="scale" id="scale">
                <% data.scales.map(scale => { %>
                   <option><%= scale.scale %></option>
               <% }) %>
            </select>
            <label for="terrain">Terrain</label>
            <select name="terrain" id="terrain">
                <% data.terrains.map(terrain => { %>
                   <option><%= terrain.terrain %></option>
                <% }) %>
            </select>
            <label for="powerplant">Power Plant</label>
            <select name="powerplant" id="powerplant">
                <% data.powerplants.map(powerplant => { %>
                   <option><%= powerplant.powerplant%></option>
                <% }) %>
            </select>
            <label for="skill_level">Skill Level</label>
            <select name="skill_level" id="skill_level">
                <% data.skill_levels.map(skill_level => { %>
                   <option><%= skill_level.skill_level%></option>
                <% }) %>
            </select>
            <label for="skill_description">Skill Description</label>
            <textarea name="skill_description" id="" cols="30" rows="10" placeholder="What makes this the skill selected?"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>
<footer>
    <%- include('./partials/footer');%>
</footer>

</html>