<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="hflex">
            <div class="search nav">

                Search Radio Control
                <a href="/cars"><h6>Cars</h6></a>
                <ul>
                    <% fieldData.map((element) => {%>
                    <li>
                        <%const data =  Object.values(element)[0]%>
                        <%const key = Object.keys(element)[0]%>
                        <%= data.fieldName%>
                        <ul>
                            <% data.rows.map((row) => { %>
                                <% const code = key + row.id %>
                                <li><a href="/cars/search/<%=code%>"><%= Object.values(row)[0]%></a></li>
                            <%}) %>
                        </ul>
                    </li>





                    <% }) %>
                </ul>
            </div>
            <div class="search Cont">
                <form action="" method="get" class="form">
                    <div className="searchbar rounded">
                        <input
                          type="text"
                          placeholder="Search Rc"
                          name="searchbar"
                          className=""
                        />
                    </div>
                </form>
                  <div class="results container">
                    <%- include(`./partials/${page}`, {content: content}) %>
                  </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>

</body>
</html>
